# Extra Practise - Basics

In this optional practise session, I thought it would be fun to look at some cost of living data from, you guessed it, Kaggle: https://www.kaggle.com/stephenofarrell/cost-of-living

Here are the objectives:

1. Rename the "index" column to "location"
2. Utilise apply to generate two new columns from the location - city and country
3. Realise the easy solution doesn't doesnt work for the United States and create a function for apply to remove specific states.
3. Figure out which country has the most cities listed, and create a dataset from only that country
4. Sort the dataset by the cost of living 'Apartment (1 bedroom) in City Centre'
5. Cry over housing prices if you live in the Bay Area.

After that, feel free to keep playing with the data yourself.

In [8]:
# Code to start you off and manipulate the data. .T is transpose - swap columns and rows
import pandas as pd

df = pd.read_csv("cost-of-living.csv", index_col=0).T.reset_index()
df.head()

,index,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Lettuce (1 head),Cappuccino (regular),"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child"
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,0.86,1.96,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,0.61,1.84,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,0.57,1.56,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.30,3.87,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,0.84,1.25,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30

## Rename column

In [10]:
df.rename(columns={"index": "Locations"}, inplace=True)
df

,Locations,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,Lettuce (1 head),Cappuccino (regular),"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child"
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,0.86,1.96,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,0.61,1.84,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,0.57,1.56,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.30,3.87,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,0.84,1.25,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,"Melbourne, Australia",10.22,49.54,7.12,5.57,5.57,1.91,1.70,0.90,1.88,...,1.57,2.63,1.58,3.06,2.20,1.78,9.42,15221.84,1250.41,12874.09
156,"Perth, Australia",12.43,56.55,7.32,5.90,5.59,1.79,1.62,1.03,1.76,...,1.26,2.86,1.96,2.40,2.11,1.29,9.49,15239.20,1190.12,11526.08
157,"Sydney, Australia",11.81,54.37,7.15,4.97,4.97,1.99,1.68,0.90,1.85,...,1.59,2.48,1.65,3.01,2.17,1.72,11.24,15066.62,1389.43,11933.55
158,"Alexandria, Egypt",2.81,14.06,3.38,1.69,2.81,0.32,0.19,0.81,0.51,...,0.20,1.45,0.66,0.39,0.66,0.31,8.37,23071.86,55.41,2132.54
159,"Quito, Ecuador",3.59,31.45,5.39,1.35,2.70,0.71,0.47,0.87,1.35,...,0.58,1.81,1.34,1.06,0.99,0.94,6.46,25324.92,276.63,6410.05

## Get city and country

In [22]:
df["city"] = df.Locations.str.split(",").str[0].str.strip()
df["country"] = df.Locations.str.split(",").str[1].str.strip()

In [23]:
df

,Locations,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child",city,country
0,"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,...,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86,Saint Petersburg,Russia
1,"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,...,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43,Istanbul,Turkey
2,"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,...,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41,Izmir,Turkey
3,"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,...,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00,Helsinki,Finland
4,"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,...,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30,Chisinau,Moldova
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,"Melbourne, Australia",10.22,49.54,7.12,5.57,5.57,1.91,1.70,0.90,1.88,...,1.58,3.06,2.20,1.78,9.42,15221.84,1250.41,12874.09,Melbourne,Australia
156,"Perth, Australia",12.43,56.55,7.32,5.90,5.59,1.79,1.62,1.03,1.76,...,1.96,2.40,2.11,1.29,9.49,15239.20,1190.12,11526.08,Perth,Australia
157,"Sydney, Australia",11.81,54.37,7.15,4.97,4.97,1.99,1.68,0.90,1.85,...,1.65,3.01,2.17,1.72,11.24,15066.62,1389.43,11933.55,Sydney,Australia
158,"Alexandria, Egypt",2.81,14.06,3.38,1.69,2.81,0.32,0.19,0.81,0.51,...,0.66,0.39,0.66,0.31,8.37,23071.86,55.41,2132.54,Alexandria,Egypt
159,"Quito, Ecuador",3.59,31.45,5.39,1.35,2.70,0.71,0.47,0.87,1.35,...,1.34,1.06,0.99,0.94,6.46,25324.92,276.63,6410.05,Quito,Ecuador

In [4]:
# And - if needed - correct for the US including states and nowhere else doing it
df

## Figure out which country has the most cities

In [15]:
df.groupby('country')['city'].agg('count')

country
AZ                1
Albania           1
Argentina         1
Armenia           1
Australia         5
                 ..
United Kingdom    1
Uruguay           1
Uzbekistan        1
Vietnam           2
WA                1
Name: city, Length: 90, dtype: int64

In [16]:
df.groupby('country')['city'].agg('count').sort_values(ascending=False)

country
India        11
Canada        8
Poland        6
Australia     5
Romania       5
             ..
Indonesia     1
Iceland       1
IL            1
Hungary       1
WA            1
Name: city, Length: 90, dtype: int64

## Create a subset of only that country

In [21]:
df.country.unique

<bound method Series.unique of 0          Russia
1          Turkey
2          Turkey
3         Finland
4         Moldova
          ...
155     Australia
156     Australia
157     Australia
158         Egypt
159       Ecuador
Name: country, Length: 160, dtype: object>

## Sort by housing accommodation

In [7]:
col = "Apartment (1 bedroom) in City Centre"
# your code here

## Despair over the cost of housing